<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
        <li role="presentation"><%= link_to "Profile", pages_profile_path %></li>
        <li role="presentation"><%= link_to "Tweet", new_tweet_path %></li>
      </ul>
    </nav>
    <h3 class="text-muted">Project name</h3>
  </div>
</div>